<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends" checked>
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Enemies</ion-label>
    </ion-segment-button>
  </ion-segment>
  <p *ngIf="currentSegment === 'friends'">Friends selected!</p>
  <p *ngIf="currentSegment === 'enemies'">Enemies selected!</p>
  <ion-button color="primary" routerLink="/tabs/tab1/child1">Go to child 1</ion-button>
</ion-content>
